@model  FirstMVCWebApp.Models.Category


@{
    ViewBag.Title = "Index";
}

@using FirstMVCWebApp.Models

<h2>Categories list </h2>

<div>
    <h2>@Html.ActionLink("Create category", "Create")</h2>
</div>

@foreach (Category category in ViewBag.Categories)
{
<div>
    @*<p> @category.Id </p>*@
    <h4>@category.Name</h4>
    <p>@Html.ActionLink("Category", "CategoryDetails", new { id = category.Id })</p>
    <p>@Html.ActionLink("Edit category", "Edit", new { id = category.Id })</p>
    <p>@Html.ActionLink("Delete category", "Delete", new { id = category.Id })</p>


</div>
}