
@{
    ViewBag.Title = "Index";
}

@using FirstMVCWebApp.Models

<style>

    .e:hover {
        color: blueviolet;
        border: 3px solid black;
    }

    #categories:hover {
        font-weight: 900;
        color: gray;
    }

    #actionhover :hover {
        text-decoration: underline;
        font-weight: 600;
        color: gray;
    }
</style>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .btn {
        background-color: DodgerBlue;
        border: none;
        color: white;
        padding: 12px 16px;
        font-size: 16px;
        cursor: pointer;
    }

        /* Darker background on mouse-over */
        .btn:hover {
            background-color: RoyalBlue;
        }
</style>



<h2 style="text-align: center; font-weight:  800; font-size: xx-large; ">Goods</h2>

<div style=" display: flex; text-align: center;   justify-content: center; /* center items horizontally, in this case */
    flex-direction:row; font-weight:800;  margin: 20px; text-decoration: underline; ">

    <div id="categories" style=" width: 20%;  ">АКЦИОННЫЕ ТОВАРЫ</div>
    <div id="categories" style=" width: 20%; ">ДЛЯ ТЕЛА</div>
    <div id="categories" style=" width: 20%; ">КОСМЕТИКА ДЛЯ ЛИЦА</div>
</div>

<div style="margin: 20px; ">
    Главная > Товары
</div>

<div style="background-color:   beige; display: flex;   flex-direction:row; flex-wrap: wrap; ">

    @foreach (Product product in ViewBag.Products)
    {
        <div class="e" style="background-color: beige; height: 490px; width: 49%;  margin: 5px; border: 1px solid black; text-align: center;">

            @*<div style="width: 100%; ">*@
            <h2>@Html.ActionLink(product.Name, "Details", new { id = product.Id })</h2>
            @*</div>*@

            @*<h4 id="actionhover">@Html.ActionLink(product.Name, "Details", new { id = product.Id }, new { style = "text-decoration:none; color : black; " })</h4>*@
            <img src="@Url.Content(@product.Src)" style="margin: 4px; width: 70%; height: 70%;" />
            <h5>@product.Description</h5>
            <p>Price: @product.Price $</p>

            <div>
                <button class="btn"><i class="fa fa-trash"> @Html.ActionLink("Delete", "Delete", new { id = product.Id })</i></button>
                <button class="btn"><i class="fa fa-edit"> @Html.ActionLink("Edit", "Edit", new { id = product.Id })</i></button>
            </div>




        </div>
    }

</div>                                     